body{
    font-family: poppinsregular;
    
    margin: 0 auto;
    padding-top: 60px;
    height: 2500px;

    background-color: #868884;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    margin: 0px 100px;

    color: white;
}

#title{
    font-family: "Bungee", sans-serif;
    color: black;
    flex-direction: column;
    line-height: 10px;
    margin-left: 30px;
}

#navbar{
    padding: 10px;
    height: 60px;
    overflow: hidden;

    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #00000033;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.links{
    margin-right: 30px;
}

.links a{
    padding: 10px;
    margin-right: 25px;

    color: black;
    text-decoration: none;
}

.links a:hover {
    color: #89ecaf;
}

.infos{
    background-color: #FFFFFF;
    padding: 50px 100px;

    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #00000033;
}

.sobre{
    margin: 20px 0px;
    display: flex;

    align-items: center;
}

.titulo{
    font-family: "Bungee", sans-serif;
    margin: 0px;
    font-size: 28px;
}

.texto-sobre{
    width: 70%;
}

.texto-sobre p{
    font-size: 18px;
}

.soldiersminimals{
    width: 300px;
    height: auto;
    margin-right: 100px;
    margin-left: 260px;
}

/* --- Estilos para o contêiner --- */
.qualidades {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

/* --- Estilos para as caixas individuais --- */
.infos-box {
    flex: 1 1 200px; 
    
    padding: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px #00000033;
    border-radius: 8px; 
}

.infos-box:hover {

    transform: translateY(-5px);
    box-shadow: 0px 5px 15px #89ecaf;
}

@media (max-width: 768px) {
    .qualidades {
        flex-direction: column; 
        align-items: center; 
    }

    .infos-box {
        width: 90%; 
        max-width: 400px; 
    }
}

.img-qualidades{
    width: 80px;
}

.lista-servicos{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    margin-top: 40px;
}

.qualidades {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}


.servicos{
    margin-top: 80px;
}

.servicos-titulo h3{
    margin-left: 10px;
    font-size: 25px;
}

.img-servicos{
    width: 50px;
}

.inicio-visitus{
    margin-top: 100px;
    text-align: center;
}

.visitus{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-visitus{
    display: flex;
    flex-direction: column;
}

.visitus-box{
    flex: 1 1 200px; 
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    margin-top: 10px;
    
    border-radius: 8px;
    border: 1px solid #ddd; 
}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;
}

h2{
    font-size: 60px;
    line-height: 52px;
    font-family: "Bungee", sans-serif;
}

aside{
    margin: 20px;
    margin-top: 200px;
}

